.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f9fa;
	text-align: center;
}

.error_code {
	font-size: 6rem;
	font-weight: bold;
	color: #ff4757;
	animation: bounce 1.5s infinite;
}

.error_message {
	font-size: 1.5rem;
	color: #2f3542;
	opacity: 0;
	animation: fadeIn 2s ease-in-out 0.5s forwards;
}

.home_link {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #fff;
	background-color: #1e90ff;
	text-decoration: none;
	border-radius: 5px;
	transition: background 0.3s;
}

.home_link:hover {
	background-color: #007bff;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
